[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
pytest = "*"
pytorch-nlp = "*"
setuptools = "*"
comet-ml = "*"
yapf = "*"
environs = "*"
isort = "*"

[packages]
allennlp = "*"
numpy = "==1.17.3"
pandas = "==0.25.1"
pytorch-crf = "==0.7.0"
pytorch-transformers = "==1.1.0"
scikit-learn = "==0.20.2"
tensorboard = "==1.15.0"
torch = "==1.2.0"
tqdm = "==4.28.1"
tensorboardX = "==1.8"
sklearn = "*"
overrides = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
